<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Delete Books</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <h1>
      Click X to Delete a Book
    </h1>
    <table class="table">
        <% books.forEach(i => { %>
        <tr>
          <td class="list">
            <button class="button">
              <b
                ><a
                  href="<%=`/books/${i.id}/delete?_method=DELETE`%>"
                  onclick=" return confirm ('Are you sure you want to delete this book?')"
                  >x</a
                ></b
              >
            </button>
            <a  id="book"href="<%=`/books/${i.id}`%>"><%=i.book %></a>
          </td>
        </tr>
        <%}); %>
      </table>
    </div>



    <div class="nav">
      <a href="/home">List all Books</a>&thinsp;&thinsp;&thinsp;&thinsp;
      <a href="/AddNewBook">Add a Book</a>&thinsp;&thinsp;&thinsp;&thinsp;
      <a href="/DeleteABook">Delete a Book</a>&thinsp;&thinsp;&thinsp;&thinsp;
    </div>
  </body>
</html>