<!DOCTYPE html>
<html lang="en">
  <head>
    <title>List of books </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
        <h3><%= books.book %></h3>
        <p><%=books.author%></p>
        <a href="<%=books.link %>""><p>Purchase on Amazon</p></a>
    </div>
    <div class="nav">
      <a href="/home">List all Books</a>&thinsp;&thinsp;&thinsp;&thinsp;
      <a href="/AddNewBook">Add a Book</a>&thinsp;&thinsp;&thinsp;&thinsp;
      <a href="/DeleteABook">Delete a Book</a>&thinsp;&thinsp;&thinsp;&thinsp;
    </div>
  </body>
</html>